main .comment-block {
    margin: 5% 0;
}

main .comment-block .commentsTable{
    width: 100%;
    aspect-ratio: calc((var(--size-table-cols)*var(--size-table-cols))/(var(--size-table-rows)*var(--size-table-rows)));
}

main .comment-block .commentsTable .row{
    display: flex;
    align-items: stretch;
    width: 100%;
    min-height: calc(100%/var(--size-table-rows));
}

main .comment-block .commentsTable .row .col{
    background-color: var(--color-primary);
    border-radius: 20px;
    padding: 3%;
    margin: 0.5% ;
    
    width: calc(100%/var(--size-table-cols));


    display: flex;
    flex-direction:column;
    justify-content: space-between;
}


main .comment-block .commentsTable .row .col img{
    margin: 0 0.5%;
    width: 15px;
}