footer {
    width: 100%;
    margin: 10% 0;
    display: flex;
    justify-content: space-between;
}


footer .logo .contacts {
    margin: 3% 0;
}

footer .logo .contacts a img {
    margin: 1%;
}
footer .nav{
    margin: 2%;
    width: 35%;
    display: flex;
    justify-content: space-between;
}
footer .nav nav{
    margin: 0 5% ;
}

footer nav ul li {
    margin: 4% 0;
}

footer .socialMedia {
    margin: 1% 4% ;
    width: 16%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

footer .socialMedia a img{
    width: 80%;
}