header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px;
    margin: 1% 0;
}

header .logo {
    margin: 0 ;
    padding: 0;
}

header .logo span h4 {
    font-weight: 800;
    font-size: 20px;
}

header nav {
    min-width: max(40%,350px);
    margin: 0 3%;

}

header nav ul {
    display: flex;
    justify-content: space-between;
}


header a {
    color: white;
}

header nav ul li a h5{
    font-size: 18px;
    font-weight: 400;
}